
/********************
  General
********************/

.clear-fix {
    overflow: auto;
}

/********************
  Header
********************/

.header-nav-container,
.header-nav,
.footer-nav,
.copyright {
  background: #ffc04d;
}

.header-nav,
.footer-nav {
  font-size: .9em;
}

.header-nav {
  padding-left: 40%;
}

.footer-nav {
  padding-top: 10px;
}

#header {
  background: #ffc04d;
  background: -webkit-linear-gradient(#ffc04d, #fff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#ffc04d, #fff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#ffc04d, #fff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#ffc04d, #fff); /* Standard syntax */
}

.biopic {
    width: 40%;
    max-width: 250px;
}

#name {
    padding: 20px 30px 0 20px;
}

#role {
    margin-left: 10px;
}

hr {
   margin: 20px;
   border: 0;
   height: 1px;
   background: #333;
   background-image: linear-gradient(to right, #333, #ffc04d);
}

.contact-category-text {
    font-weight: bold;
    margin: 20px;
}

.contact-info-text,
.skills-text {
    display: inline-block;
}

.contact-info-text {
    margin: 5px;
}

.skills-text {
    margin: 15px;
}

.welcome-message {
    display: block;
    margin: 20px;
    width: 80%;
    display: none;
}

#skills-heading {
    margin: 30px 10px 10px;
}

.flex-box-space-around {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-box-flex-start {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}



/********************
  Main Sections
********************/

#education,
#workExperience,
#projects {
    max-width: 100%;
    margin: 20px;
    padding-top: 20px;
    border: 1px solid #000;
}

.biopic,
#education,
#workExperience,
#projects,
#mapDiv {
  box-shadow: 8px 8px 10px #777;
}

.education-entry,
.work-entry,
.project-entry {
    margin: 25px 5px;
}

.date-text {
    display: block;
    margin: 10px;
}

.location-text {
    display: block;
    margin: 10px;
    font-style: italic;
}

.description-text {
    text-align: left;
    margin: 10px;
}

.major-text {
    margin: 10px;
    /*padding-bottom: 30px;
    border-bottom: 1px solid #000*/
  }

a {
    display: block;
    margin: 10px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
}



/********************
  Map Section
********************/

#mapDiv {
    border: 1px solid #000;
    margin: 20px;
    max-width: 100%;
    display: block;
    font-size: 0.75em;
}

#map {
    display: block;
    width: 100%;
    height: 150px;
    margin-top: 10px;
}



/********************
  Footer
********************/

#footer {
  background: #ffc04d;
  background: -webkit-linear-gradient(#fff, #ffc04d); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#fff, #ffc04d); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#fff, #ffc04d); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#fff, #ffc04d); /* Standard syntax */
}

#lets-connect {
  padding: 5px;
  margin-top: 20px;
}

#footerContacts {
  margin: 10px;
  padding: 10px;
}

/********************
  Responsive Design
********************/

@media screen and (min-width: 436px) {

  #name {
    font-size: 2.5em;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 2em;
  }

  #skills-heading {
    font-size: 1.5em;
  }

  .contact-category-text,
  .contact-info-text,
  .welcome-message,
  .skills-text,
  .date-text,
  .location-text,
  .major-text,
  .description-text,
  a {
    font-size: 1.25em;
  }

  #header,
  #lets-connect,
  #education,
  #workExperience,
  #projects {
    width: 75%;
    display: inline-block;
  }

  #education,
  #workExperience,
  #projects {
    padding-top: 30px;
  }

  .education-entry,
  .work-entry,
  .project-entry {
    margin: 30px 20px;
  }

  #mapDiv {
    font-size: 0.9em;
    width: 75%;
    display: inline-block;
  }

  #map {
    height: 200px;
  }

}

@media screen and (min-width: 651px) {

  #name {
    font-size: 2.7em;
  }

  #role {
    font-size: 1.3em;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 2.2em;
  }

  #skills-heading {
    font-size: 1.6em;
  }

  .contact-category-text,
  .contact-info-text,
  .welcome-message,
  .skills-text,
  .date-text,
  .location-text,
  .major-text,
  .description-text,
  a {
    font-size: 1.3em;
  }

  .contact-category-text {
    margin-left: 50px;
  }

  #header,
  #education,
  #workExperience,
  #projects,
  #mapDiv {
    width: 65%;
  }

  .education-entry,
  .work-entry,
  .project-entry {
    margin: 35px 20px;
  }

  .description-text {
    width: 90%;
    display: inline-block;
  }

  #lets-connect {
    width: 66%;
    backgou
  }

}

@media screen and (min-width: 851px) {

  #header {
    width: 100%;
    text-align: left;
  }

  .biopic {
    float: left;
    display: inline;
    margin: 25px;
  }

  #name,
  #role {
    display: inline-block;
    margin-right: 10px;
  }

  hr {
    clear: right;
  }

  .contact-category-text {
    margin-left: 20px;
  }

  #skills-heading {
    margin-left: 30px;
  }

  #education,
  #workExperience,
  #projects,
  #mapDiv {
    width: 50%;
  }

  #lets-connect {
    width: 51%;
  }

  .welcome-message {
    margin-left: 50px;
  }

  .flex-box-space-around {
    margin-right: 15%;
  }

}
